<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Recharge_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,834},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,86}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>biankuangxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,90},{228,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,22}}</string>
                <key>sourceSize</key>
                <string>{228,24}</string>
            </dict>
            <key>biankuangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,63},{22,368}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{22,368}}</string>
                <key>sourceSize</key>
                <string>{24,384}</string>
            </dict>
            <key>ditu-erji-tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,958},{214,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,52}}</string>
                <key>sourceSize</key>
                <string>{214,52}</string>
            </dict>
            <key>ditu-erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,933},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,437},{515,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,77}}</string>
                <key>sourceSize</key>
                <string>{515,77}</string>
            </dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,90},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_btnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,437},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,4},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,834},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,90},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,171},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,188},{640,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{640,342}}</string>
                <key>sourceSize</key>
                <string>{640,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hot_sale.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ad41402353b5abeb8f720198ec1d55f:0f859a4935887d689443e01dd912486c:7e7232711ccbcbb86555ef52f5fe5d96$</string>
            <key>textureFileName</key>
            <string>hot_sale.pvr.ccz</string>
        </dict>
    </dict>
</plist>
