<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{235,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,193}}</string>
                <key>sourceSize</key>
                <string>{235,193}</string>
            </dict>
            <key>wall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,4},{96,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,4},{292,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,193}}</string>
                <key>sourceSize</key>
                <string>{292,193}</string>
            </dict>
            <key>wall_notice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,4},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>wall_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,4},{27,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
            <key>size</key>
            <string>{966,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73d805db77d7e99fd20798629b0adad7:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
