<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,265},{254,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,170}}</string>
                <key>sourceSize</key>
                <string>{254,170}</string>
            </dict>
            <key>wall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,4},{96,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,265},{215,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,173}}</string>
                <key>sourceSize</key>
                <string>{215,173}</string>
            </dict>
            <key>wall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,131},{183,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,128}}</string>
                <key>sourceSize</key>
                <string>{183,128}</string>
            </dict>
            <key>wall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,4},{140,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,121}}</string>
                <key>sourceSize</key>
                <string>{140,121}</string>
            </dict>
            <key>wall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,4},{75,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,121}}</string>
                <key>sourceSize</key>
                <string>{75,121}</string>
            </dict>
            <key>wall_notice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,131},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>wall_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{27,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
            <key>size</key>
            <string>{483,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
