# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
# *.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

xcshareddata
DerivedData
xcuserdata
local.properties
userconf.ini
*.sdf
*.opensdf
*.exp
*.xccheckout
*.pyc
IF/libs/boost.framework/boost
IF/libs/boost.framework/Versions/A/boost
IF/libs/Chartboost.framework/Chartboost
IF/libs/Chartboost.framework/Versions/A/Chartboost
IF/libs/extensions/inmobi/libInMobi-4.5.1.a
IF/libs/Parse.framework/Parse

CCB/art_resources
CCB/dynamicResource
CCB/IF/DynamicResources
CCB/IF/DynamicCCB.ccbproj
