.svn

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
# *.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

xcshareddata
DerivedData
xcuserdata
local.properties
userconf.ini
*.sdf
*.opensdf
*.exp
*.xccheckout
*.pyc
cocos2d/plugin/plugins/*
IF/libs/boost.framework/boost
IF/libs/boost.framework/Versions/A/boost
IF/libs/Chartboost.framework/Chartboost
IF/libs/Chartboost.framework/Versions/A/Chartboost
IF/libs/extensions/inmobi/libInMobi-4.5.1.a
IF/libs/Parse.framework/Parse

CCB/art_resources
CCB/dynamicResource
CCB/IF/DynamicResources
CCB/IF/DynamicCCB.ccbproj

Android_Resource
proj.android/obj
proj.android/ChatServices/bin/
proj.android/ChatServices/gen/
proj.android/ChatServices/related_projects/PullRefreshDemo/bin/
proj.android/ChatServices/related_projects/SwipeMenuListView/bin/
proj.android/facebook/bin/
proj.android/helpshift-plugin-cocos2dx-android/bin/
proj.android/NineOldAndroids/bin/
Publish.android/NBG_CN1/bdwallet_pay_sdk/bin/
proj.android/libs/armeabi/
proj.android/NineOldAndroids/gen/
proj.android/helpshift-plugin-cocos2dx-android/gen/
Publish.android/NBG_CN1/bdwallet_pay_sdk/gen/
Publish.android/NBG_CN1/bin/
Publish.android/NBG_CN1/gen/
Publish.android/NBG_CN1/kit-libs/*
Publish.android/NBG_CN1/WeiboSDK/bin/
Publish.android/NBG_CN1/WeiboSDK/gen/
proj.android/assets/
package-so/
package/
proj.android/Adjust/bin/
proj.android/Adjust/gen/
proj.android/bin/
proj.android/gen/
proj.android/Branch-SDK/bin/
proj.android/Branch-SDK/gen/
proj.android/ChatServices/related_projects/NewQuickAction3D/gen/
proj.android/ChatServices/related_projects/NewQuickAction3D/bin/
proj.android/ChatServices/related_projects/PullRefreshDemo/gen/
proj.android/ChatServices/related_projects/PullRefreshDemo/bin/
proj.android/ChatServices/related_projects/SwipeMenuListView/gen/
proj.android/ChatServices/related_projects/SwipeMenuListView/bin/
proj.android/facebook/gen/
proj.android/facebook/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/bin/




