<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Army_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1141},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
            <key>Army_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,429},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>Army_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,1007},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Army_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,463},{50,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,6}</string>
            </dict>
            <key>ann_pic_beigongji.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1375},{484,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,230}}</string>
                <key>sourceSize</key>
                <string>{484,230}</string>
            </dict>
            <key>ann_pic_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1007},{372,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,437}}</string>
                <key>sourceSize</key>
                <string>{372,437}</string>
            </dict>
            <key>ann_pic_gongji.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1612,723},{425,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,278}}</string>
                <key>sourceSize</key>
                <string>{425,278}</string>
            </dict>
            <key>ann_pic_jijie.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{573,4},{563,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,310}}</string>
                <key>sourceSize</key>
                <string>{563,310}</string>
            </dict>
            <key>ann_pic_shijie.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1032},{501,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,337}}</string>
                <key>sourceSize</key>
                <string>{501,337}</string>
            </dict>
            <key>ann_pic_xianshihuodong.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1645,540},{383,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,177}}</string>
                <key>sourceSize</key>
                <string>{383,177}</string>
            </dict>
            <key>ann_pic_xincheng.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1142,4},{535,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,310}}</string>
                <key>sourceSize</key>
                <string>{535,310}</string>
            </dict>
            <key>ann_pic_zhuanpan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{563,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,419}}</string>
                <key>sourceSize</key>
                <string>{563,419}</string>
            </dict>
            <key>ico107000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1032},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1450},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1450},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,676},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,785},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107005.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,676},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,320},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107007.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,429},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107008.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,320},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,4},{350,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,530}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_200.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd995efbde74d2b8b47890e9901b329:1/1$</string>
            <key>textureFileName</key>
            <string>Common_200.pvr.ccz</string>
        </dict>
    </dict>
</plist>
