<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mail_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1358},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>Mail_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,238},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>Mail_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,851},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>Mail_caiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_darksoil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{580,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,217}}</string>
                <key>sourceSize</key>
                <string>{580,217}</string>
            </dict>
            <key>Mail_gongcheng_Failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,933},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_gongcheng_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,842},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,778},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Mail_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,240},{600,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,236}}</string>
                <key>sourceSize</key>
                <string>{600,236}</string>
            </dict>
            <key>Mail_shuliang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,624},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Mail_yijitanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_zhaying_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_zhencha_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>The-fountain_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,393},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,276},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>The-fountain_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1424},{91,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,76}}</string>
                <key>sourceSize</key>
                <string>{91,76}</string>
            </dict>
            <key>The-fountain_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_tupian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,255}}</string>
                <key>sourceSize</key>
                <string>{610,255}</string>
            </dict>
            <key>VIP_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,119},{117,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{117,102}</string>
            </dict>
            <key>VIP_fanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,52},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>VIP_fanye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,8},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>VIP_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{306,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,4}}</string>
                <key>sourceSize</key>
                <string>{306,4}</string>
            </dict>
            <key>VIP_fenge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,43},{4,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,129}}</string>
                <key>sourceSize</key>
                <string>{4,129}</string>
            </dict>
            <key>VIP_fenge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{3,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,24}}</string>
                <key>sourceSize</key>
                <string>{3,24}</string>
            </dict>
            <key>VIP_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,80},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>VIP_jingdutiao_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,25},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>VIP_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,664},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>VIP_lvjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,174},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>VIP_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,259},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>VipActive_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1515},{523,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,175}}</string>
                <key>sourceSize</key>
                <string>{523,175}</string>
            </dict>
            <key>VipActive_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,80},{245,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,121}}</string>
                <key>sourceSize</key>
                <string>{245,121}</string>
            </dict>
            <key>VipActive_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,203},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>VipActive_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,463},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>VipActive_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,525},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>mail_pic_flag_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1358},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1358},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,778},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,402},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,682},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,341},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,212},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,586},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,490},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_separate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,8},{291,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,4}}</string>
                <key>sourceSize</key>
                <string>{291,4}</string>
            </dict>
            <key>vip_dianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,585},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>vip_diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,273},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>vip_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,14},{290,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,36}}</string>
                <key>sourceSize</key>
                <string>{290,36}</string>
            </dict>
            <key>vip_shalou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1424},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>vip_shalou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>vip_tianchng.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,52},{271,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,26}}</string>
                <key>sourceSize</key>
                <string>{271,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d31f1c81e336973a020ffd8645d42aa:1/1$</string>
            <key>textureFileName</key>
            <string>Common_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
