<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AE.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AL.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AM.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AO.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AR.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AT.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,22},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AU.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BD.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BE.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BH.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,143},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BR.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BY.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BrPr.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CA.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CH.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CL.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,264},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CP.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DE.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,385},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EC.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EE.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EG.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ES.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>FI.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,506},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>FR.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GB.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GR.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GbUs.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HK.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HR.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,627},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IE.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IL.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IN.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IR.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,748},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IT.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>JP.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KH.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KW.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,869},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LA.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LI.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LT.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LU.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MK.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,990},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MM.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MX.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MY.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NL.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1111},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PA.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PE.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PH.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PK.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PL.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PS.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1232},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PT.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RO.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RU.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SA.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1353},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SG.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SI.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SK.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SY.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TH.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TN.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1474},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TR.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UA.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UN.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>US.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1595},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>VE.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1716},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>VN.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1716},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>YE.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1716},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ZA.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1716},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_208.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_208.pvr.ccz</string>
        </dict>
    </dict>
</plist>
