<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107200.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,884},{238,432}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,57},{238,432}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107201.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,4},{190,472}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,49},{190,472}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107202.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1128},{246,428}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{246,428}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107203.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1214},{194,420}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,77},{194,420}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107204.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,276},{246,528}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{246,528}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107205.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,872},{336,432}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{336,432}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107206.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{266,528}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{266,528}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107207.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,528},{350,502}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{350,502}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107208.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,554},{312,458}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{312,458}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
            <key>ico107209.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,200},{348,458}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{348,458}}</string>
                <key>sourceSize</key>
                <string>{350,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_202.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_202.pvr.ccz</string>
        </dict>
    </dict>
</plist>
