<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActivityBeginView_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,167}}</string>
                <key>sourceSize</key>
                <string>{640,167}</string>
            </dict>
            <key>ActivityBeginView_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{6,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,28}}</string>
                <key>sourceSize</key>
                <string>{6,28}</string>
            </dict>
            <key>ActivityBeginView_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,4},{315,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{315,67}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>ActivityBeginView_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,177},{283,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,97}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>ActivityBeginView_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,177},{110,99}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{110,99}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>ActivityBeginView_0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,177},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{128,109}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>ActivityBeginView_0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,177},{144,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,113}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>ActivityBeginView_0i.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,177},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ActivityBeginView_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,177},{206,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,168}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>ActivityListCell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,351},{299,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,63}}</string>
                <key>sourceSize</key>
                <string>{299,63}</string>
            </dict>
            <key>ActivityRewardView_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,351},{465,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,90}}</string>
                <key>sourceSize</key>
                <string>{465,92}</string>
            </dict>
            <key>Ativity_iconLogo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>Ativity_iconLogo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,351},{206,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,161}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>act_common_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,518},{608,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,172}}</string>
                <key>sourceSize</key>
                <string>{608,172}</string>
            </dict>
            <key>act_icon_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,518},{160,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>activity1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,696},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>activity_l003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,696},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>activity_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,696},{638,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,62}}</string>
                <key>sourceSize</key>
                <string>{638,62}</string>
            </dict>
            <key>frame_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,770},{298,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{298,84}}</string>
                <key>sourceSize</key>
                <string>{308,94}</string>
            </dict>
            <key>frame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,770},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>monthcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,902},{611,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,160}}</string>
                <key>sourceSize</key>
                <string>{611,160}</string>
            </dict>
            <key>monthcard_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1068},{637,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,454}}</string>
                <key>sourceSize</key>
                <string>{637,454}</string>
            </dict>
            <key>orange_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1528},{400,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,80}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_500.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bdbacc5a1c286de5e13ce11121e8059:1/1$</string>
            <key>textureFileName</key>
            <string>Common_500.pvr.ccz</string>
        </dict>
    </dict>
</plist>
