<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KingDeclaration_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,320},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,418},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,189},{82,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{82,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,613},{115,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,121}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>KingDeclaration_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{503,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{503,179}}</string>
                <key>sourceSize</key>
                <string>{503,183}</string>
            </dict>
            <key>KingDeclaration_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,4},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>KingDeclaration_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,219},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>KingDeclaration_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,65},{148,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>KingDeclaration_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,371},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>common307_g012_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,553},{168,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,182}}</string>
                <key>sourceSize</key>
                <string>{168,182}</string>
            </dict>
            <key>common307_g026_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,741},{157,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,184}}</string>
                <key>sourceSize</key>
                <string>{157,184}</string>
            </dict>
            <key>common307_g041_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,804},{187,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,185}}</string>
                <key>sourceSize</key>
                <string>{187,185}</string>
            </dict>
            <key>common307_g045_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,602},{146,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,196}}</string>
                <key>sourceSize</key>
                <string>{146,196}</string>
            </dict>
            <key>g007_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,240},{204,180}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{204,180}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g008_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,4},{230,188}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,188}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g012_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,189},{214,176}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{214,176}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g015_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,426},{208,170}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{208,170}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g024_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,423},{202,170}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{202,170}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g026_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,237},{210,180}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{210,180}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g032_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,602},{204,164}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{204,164}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g038_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,423},{192,184}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{192,184}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g041_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,65},{232,166}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{232,166}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g044_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,371},{176,170}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,20},{176,170}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g045_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,812},{196,186}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{196,186}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>g046_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,189},{212,176}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{212,176}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_307.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fa70c0d8cc37e5490671f932460304f:1/1$</string>
            <key>textureFileName</key>
            <string>Common_307.pvr.ccz</string>
        </dict>
    </dict>
</plist>
