<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill2_600000.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,390},{132,126}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{132,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600100.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,4},{138,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{138,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600200.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,4},{138,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{138,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600300.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,4},{138,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{138,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600400.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,4},{140,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600500.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,138},{132,134}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600600.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{110,132}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{110,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600800.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,266},{132,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_600900.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,270},{110,132}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{126,122}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{126,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601100.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,4},{138,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{138,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601200.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,4},{138,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{138,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601300.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,4},{138,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{138,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601400.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,4},{140,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601500.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,138},{132,134}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601600.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{110,132}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{110,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601800.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,266},{132,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_601900.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,270},{110,132}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,384},{130,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{130,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602100.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,4},{140,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602200.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{132,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602300.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,386},{110,130}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{110,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602400.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,132},{114,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{114,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602500.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,640},{118,122}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill2_602600.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,392},{114,128}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{114,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_602700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,140},{132,124}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{132,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_603103.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,534},{84,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_606201.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,644},{86,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{86,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_606202.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,644},{94,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{94,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_610000.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,272},{132,126}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{132,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610100.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,134},{126,134}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{126,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610200.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,140},{132,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{132,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610300.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,864},{120,118}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610400.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,266},{132,112}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{132,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610500.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,880},{102,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610600.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,404},{124,124}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610700.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,850},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{98,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610800.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,134},{126,134}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{126,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_610900.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,140},{132,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{132,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,516},{126,120}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{126,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611100.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,864},{120,118}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611200.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,266},{132,112}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{132,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611300.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,404},{124,124}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611400.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,272},{132,126}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{132,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611500.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,880},{102,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611600.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,404},{124,124}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,750},{122,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{122,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611800.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,134},{132,136}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_611900.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,504},{128,102}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{128,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_612000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,262},{134,114}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{134,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620000.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,134},{126,134}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{126,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620100.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,534},{104,92}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{104,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620200.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,764},{116,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{116,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620300.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,880},{118,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{118,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620400.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,404},{128,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{128,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620500.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,626},{126,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{126,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620600.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,756},{120,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620700.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,136},{136,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{136,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620800.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,880},{118,118}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{118,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_620900.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,4},{140,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,764},{116,110}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{116,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621100.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,880},{118,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{118,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621200.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,404},{128,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{128,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621300.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,626},{126,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{126,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621400.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,382},{128,116}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621500.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,612},{122,120}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{122,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621600.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,522},{124,116}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{124,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621700.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,738},{108,102}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,47},{108,102}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621800.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,756},{120,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_621900.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,738},{106,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{106,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_622000.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,880},{112,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{112,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_622100.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,502},{118,128}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_622200.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,642},{122,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{122,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>skill2_650000.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,610},{86,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{86,76}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_650205.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,764},{110,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_650400.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,522},{82,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{82,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_650403.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,850},{98,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{98,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_650405.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,840},{82,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{82,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_652205.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,738},{96,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill2_680000.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,644},{92,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{92,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_105.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87034652eeed94fab82de5a5fbb8c68d:1/1$</string>
            <key>textureFileName</key>
            <string>Common_105.pvr.ccz</string>
        </dict>
    </dict>
</plist>
