<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Griffin.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Griffin_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,13},{356,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,272}}</string>
                <key>sourceSize</key>
                <string>{356,272}</string>
            </dict>
            <key>Kulou_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,13},{356,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,272}}</string>
                <key>sourceSize</key>
                <string>{356,272}</string>
            </dict>
            <key>Shixianggui.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Shixianggui_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Yeren.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Yeren_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>biankuang-guang-2 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,751},{205,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,63}}</string>
                <key>sourceSize</key>
                <string>{205,63}</string>
            </dict>
            <key>biankuang-guang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,146},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>di-bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1009},{73,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,8}}</string>
                <key>sourceSize</key>
                <string>{73,8}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,188},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,5},{358,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,2}}</string>
                <key>sourceSize</key>
                <string>{358,2}</string>
            </dict>
            <key>first_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{614,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,135}}</string>
                <key>sourceSize</key>
                <string>{614,135}</string>
            </dict>
            <key>lianzi-ce.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,146},{122,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,534}}</string>
                <key>sourceSize</key>
                <string>{122,534}</string>
            </dict>
            <key>meidusha.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>meidusha_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>nb_monster_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,191},{21,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,528}}</string>
                <key>sourceSize</key>
                <string>{21,528}</string>
            </dict>
            <key>nb_monster_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,146},{300,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,181}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>nb_monster_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,473},{272,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,4}}</string>
                <key>sourceSize</key>
                <string>{272,4}</string>
            </dict>
            <key>nb_monster_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,191},{276,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,4}}</string>
                <key>sourceSize</key>
                <string>{276,4}</string>
            </dict>
            <key>nb_monster_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,5},{29,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,180}}</string>
                <key>sourceSize</key>
                <string>{29,180}</string>
            </dict>
            <key>nb_monster_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,285},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>rm_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>rock_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,725},{300,278}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>text02.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,291},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1009},{18,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,6}}</string>
                <key>sourceSize</key>
                <string>{18,6}</string>
            </dict>
            <key>tielian.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,962},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>tou-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,751},{249,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,170}}</string>
                <key>sourceSize</key>
                <string>{249,170}</string>
            </dict>
            <key>worldBossMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,333},{596,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,232}}</string>
                <key>sourceSize</key>
                <string>{596,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_206.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_206.pvr.ccz</string>
        </dict>
    </dict>
</plist>
