<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,4},{251,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,98}}</string>
                <key>sourceSize</key>
                <string>{251,98}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,108},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,949},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,926},{41,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,101}}</string>
                <key>sourceSize</key>
                <string>{41,101}</string>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,949},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,949},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,926},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,376},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>Flip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,243},{126,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,119}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
            <key>IconGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,926},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,497},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arc_bg_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{220,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,600}}</string>
                <key>sourceSize</key>
                <string>{220,600}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,296},{195,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,275}}</string>
                <key>sourceSize</key>
                <string>{195,275}</string>
            </dict>
            <key>frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,610},{333,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,171}}</string>
                <key>sourceSize</key>
                <string>{333,171}</string>
            </dict>
            <key>material_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,657},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>material_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,973},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>material_kelingqudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,243},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>material_weilingqudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,761},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>skill_fly_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,108},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>technologyGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,949},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>technology_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,190},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>technology_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,376},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>technology_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,610},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>technology_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,4},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>technology_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,497},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>technology_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,4},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tips_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,973},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>tips_dengji_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,973},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>tips_dengji_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,996},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>tips_dengji_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,973},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>tips_dengji_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,926},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>tips_dengji_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,926},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>tips_dengji_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,926},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1945a40a3bca6f87620e66f4f1ef8b6:1/1$</string>
            <key>textureFileName</key>
            <string>Common_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
