<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107000_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,698},{66,104}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107001_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{90,106}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107002_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,238},{104,100}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{104,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107003_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,610},{74,104}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107004_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{66,104}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107005_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,4},{108,112}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107006_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,770},{100,96}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{100,96}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107007_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,690},{66,104}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107008_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,4},{120,118}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107009_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{106,102}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{106,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107100_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,210},{104,104}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107101_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,610},{74,104}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107102_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,608},{76,104}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107103_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,690},{72,104}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107104_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,344},{90,104}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107105_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,218},{102,104}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107106_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,128},{104,104}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107107_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,222},{102,104}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107108_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,330},{92,104}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107109_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,516},{86,104}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107200_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,872},{90,102}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{90,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107201_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,620},{72,104}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107202_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,440},{86,104}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107203_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,422},{88,104}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107204_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,430},{86,104}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107205_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,326},{98,104}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107206_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,768},{98,102}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107207_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,4},{122,104}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107208_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,218},{60,104}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{60,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107209_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{132,104}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107300_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,532},{82,104}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{82,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107301_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,428},{104,86}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{104,86}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107302_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,922},{76,94}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{76,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107303_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,770},{102,74}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{102,74}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107304_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,522},{82,104}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{82,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107305_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,762},{102,80}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{102,80}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107306_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,320},{96,104}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107307_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,520},{84,104}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107308_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,848},{68,102}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{68,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ico107309_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,118},{94,108}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{94,108}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_204.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c1e02d58e8620fb241e40190f2844ad:1/1$</string>
            <key>textureFileName</key>
            <string>Common_204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
