<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alliance-anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,419},{300,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,62}}</string>
                <key>sourceSize</key>
                <string>{300,62}</string>
            </dict>
            <key>Alliance-qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,309},{124,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,338}}</string>
                <key>sourceSize</key>
                <string>{124,338}</string>
            </dict>
            <key>YuanJunSoldierCell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,487},{274,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,118}}</string>
                <key>sourceSize</key>
                <string>{274,118}</string>
            </dict>
            <key>alliance_currentnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,114},{87,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>alliance_totalforce.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,325},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>anniu1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,691},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>anniu2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,636},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>def_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,215},{104,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{104,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>detail_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{545,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,85}}</string>
                <key>sourceSize</key>
                <string>{545,85}</string>
            </dict>
            <key>gather_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,908},{92,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{92,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,837},{92,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{92,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>lianmeng_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,227},{544,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,31}}</string>
                <key>sourceSize</key>
                <string>{544,31}</string>
            </dict>
            <key>lianmeng_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,264},{539,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,33}}</string>
                <key>sourceSize</key>
                <string>{539,33}</string>
            </dict>
            <key>lianmeng_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{16,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,547}}</string>
                <key>sourceSize</key>
                <string>{16,547}</string>
            </dict>
            <key>lianmeng_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,335},{508,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,33}}</string>
                <key>sourceSize</key>
                <string>{508,33}</string>
            </dict>
            <key>lianmeng_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,303},{535,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,26}}</string>
                <key>sourceSize</key>
                <string>{535,26}</string>
            </dict>
            <key>lianmeng_di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,505},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
            <key>lianmeng_di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,824},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>lianmeng_di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,589},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>lianmeng_di_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,309},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>nb_alliance_territory_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{299,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,368}}</string>
                <key>sourceSize</key>
                <string>{299,368}</string>
            </dict>
            <key>nb_alliance_territory_lockbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,534},{267,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,49}}</string>
                <key>sourceSize</key>
                <string>{267,49}</string>
            </dict>
            <key>nb_alliance_territory_name_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,374},{208,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,37}}</string>
                <key>sourceSize</key>
                <string>{208,37}</string>
            </dict>
            <key>nb_alliance_zuobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,439},{289,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,60}}</string>
                <key>sourceSize</key>
                <string>{289,60}</string>
            </dict>
            <key>resource_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,746},{98,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{98,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>storage_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,722},{104,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>territory_building_lv0.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,505},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_building_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,701},{134,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_coord_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,303},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>territory_iconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,439},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>territory_renderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,104}}</string>
                <key>sourceSize</key>
                <string>{640,104}</string>
            </dict>
            <key>territory_resource_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,636},{136,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,647},{134,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{134,94}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,611},{136,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,611},{136,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{136,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,549},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>territory_warehouse0.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,690},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{130,82}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>zhezhao_yaoyiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,374},{300,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,154}}</string>
                <key>sourceSize</key>
                <string>{300,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_504.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_504.pvr.ccz</string>
        </dict>
    </dict>
</plist>
