<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,4},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
            <key>BG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,4},{640,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,267}}</string>
                <key>sourceSize</key>
                <string>{640,267}</string>
            </dict>
            <key>BG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1027},{323,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,86}}</string>
                <key>sourceSize</key>
                <string>{323,86}</string>
            </dict>
            <key>BG_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,997},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>Businessman_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1091},{320,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,171}}</string>
                <key>sourceSize</key>
                <string>{320,171}</string>
            </dict>
            <key>Businessman_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,807},{308,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,59}}</string>
                <key>sourceSize</key>
                <string>{308,59}</string>
            </dict>
            <key>Businessman_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,409},{25,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,159}}</string>
                <key>sourceSize</key>
                <string>{25,159}</string>
            </dict>
            <key>Businessman_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1218},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>Businessman_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,517},{640,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,274}}</string>
                <key>sourceSize</key>
                <string>{640,274}</string>
            </dict>
            <key>CardPattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,872},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>Daily-log_Exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,409},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Daily-log_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1218},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>Daily-log_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1233},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Daily-log_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,632},{211,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,166}}</string>
                <key>sourceSize</key>
                <string>{211,166}</string>
            </dict>
            <key>Daily-log_treasure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,680},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Daily-log_treasure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1055},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>Daily-log_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,482},{527,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,144}}</string>
                <key>sourceSize</key>
                <string>{527,144}</string>
            </dict>
            <key>Daily_icon_2duilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1159},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_caijijiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1059},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1100},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1118},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,959},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,859},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_zaobingjiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,759},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Items_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,502},{116,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,113}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>Items_baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1110},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>Items_decoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1119},{308,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,147}}</string>
                <key>sourceSize</key>
                <string>{308,147}</string>
            </dict>
            <key>Items_icon_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,440},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Items_icon_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1125},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Items_icon_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1125},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>Items_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,800},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Items_tips3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1277},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>Mall_Bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,144},{286,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,60}}</string>
                <key>sourceSize</key>
                <string>{286,60}</string>
            </dict>
            <key>Mall_Bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1272},{286,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,16}}</string>
                <key>sourceSize</key>
                <string>{286,16}</string>
            </dict>
            <key>NewProp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,491},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>NewProp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,585},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>UI_grey_line_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,470},{640,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,6}}</string>
                <key>sourceSize</key>
                <string>{640,6}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,277},{640,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,187}}</string>
                <key>sourceSize</key>
                <string>{640,187}</string>
            </dict>
            <key>baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,624},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1051},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>baoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,872},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,502},{320,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,120}}</string>
                <key>sourceSize</key>
                <string>{320,120}</string>
            </dict>
            <key>bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,628},{321,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,46}}</string>
                <key>sourceSize</key>
                <string>{321,46}</string>
            </dict>
            <key>cn_newicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1222},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>daily_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,624},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>got.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,661},{134,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,92}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,898},{368,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,123}}</string>
                <key>sourceSize</key>
                <string>{368,123}</string>
            </dict>
            <key>hdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1222},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jinfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,144},{412,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,290}}</string>
                <key>sourceSize</key>
                <string>{412,290}</string>
            </dict>
            <key>liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1040},{248,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,54}}</string>
                <key>sourceSize</key>
                <string>{248,54}</string>
            </dict>
            <key>nb_ItemDesBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,624},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>nb_common11_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{649,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,507}}</string>
                <key>sourceSize</key>
                <string>{649,507}</string>
            </dict>
            <key>nb_common11_containerBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,440},{45,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,441}}</string>
                <key>sourceSize</key>
                <string>{45,441}</string>
            </dict>
            <key>nb_common11_containerBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,491},{5,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,441}}</string>
                <key>sourceSize</key>
                <string>{5,441}</string>
            </dict>
            <key>nb_common11_itembg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,849},{136,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,196}}</string>
                <key>sourceSize</key>
                <string>{136,196}</string>
            </dict>
            <key>nb_common11_itembg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1091},{286,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,197}}</string>
                <key>sourceSize</key>
                <string>{286,197}</string>
            </dict>
            <key>nb_common11_itembg7_grow.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,632},{349,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,260}}</string>
                <key>sourceSize</key>
                <string>{349,260}</string>
            </dict>
            <key>nb_common11_itembg_grow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,144},{199,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,259}}</string>
                <key>sourceSize</key>
                <string>{199,259}</string>
            </dict>
            <key>nb_common11_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,759},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>nb_common11_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1268},{311,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,3}}</string>
                <key>sourceSize</key>
                <string>{311,3}</string>
            </dict>
            <key>nb_wupin_biaotou_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1035},{99,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,59}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>shop_bn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,810},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,830},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,830},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,585},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,436},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1100},{232,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,127}}</string>
                <key>sourceSize</key>
                <string>{232,127}</string>
            </dict>
            <key>shuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1233},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>shuijingstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,797},{640,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,194}}</string>
                <key>sourceSize</key>
                <string>{640,194}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1200},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>zhuangshi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1119},{169,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,29}}</string>
                <key>sourceSize</key>
                <string>{169,29}</string>
            </dict>
            <key>zhuobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,128},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>zhuobu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1040},{64,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,109}}</string>
                <key>sourceSize</key>
                <string>{64,109}</string>
            </dict>
            <key>zhuobu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1055},{64,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,150}}</string>
                <key>sourceSize</key>
                <string>{64,150}</string>
            </dict>
            <key>zhuobu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,4},{64,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,118}}</string>
                <key>sourceSize</key>
                <string>{64,118}</string>
            </dict>
            <key>zhuobus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1244},{5,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,130}}</string>
                <key>sourceSize</key>
                <string>{5,130}</string>
            </dict>
            <key>zhuobux.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1233},{5,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,130}}</string>
                <key>sourceSize</key>
                <string>{5,130}</string>
            </dict>
            <key>zhuoguojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,680},{268,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,121}}</string>
                <key>sourceSize</key>
                <string>{268,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_11.pvr.ccz</string>
            <key>size</key>
            <string>{2026,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
