<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,663},{305,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,48}}</string>
                <key>sourceSize</key>
                <string>{305,48}</string>
            </dict>
            <key>01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,974},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,990},{31,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,974},{4,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,27}}</string>
                <key>sourceSize</key>
                <string>{4,27}</string>
            </dict>
            <key>nb_alliance_jijie_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,654}}</string>
                <key>sourceSize</key>
                <string>{640,654}</string>
            </dict>
            <key>nb_alliance_jijie_item_name_bg1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,663},{321,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,34}}</string>
                <key>sourceSize</key>
                <string>{321,34}</string>
            </dict>
            <key>nb_alliance_jijie_zhuangshi1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,990},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_502.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
