<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Gray_biaotilan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,4},{194,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,69}}</string>
                <key>sourceSize</key>
                <string>{194,69}</string>
            </dict>
            <key>UI_Gray_biaotilan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1006},{169,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,13}}</string>
                <key>sourceSize</key>
                <string>{169,13}</string>
            </dict>
            <key>UI_Gray_biaotilan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,862},{150,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,29}}</string>
                <key>sourceSize</key>
                <string>{152,29}</string>
            </dict>
            <key>UI_Gray_biaotilan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1000},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>UI_Gray_biaotilan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,4},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,852}}</string>
                <key>sourceSize</key>
                <string>{320,852}</string>
            </dict>
            <key>UI_general_kuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,994},{26,193}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,193}}</string>
                <key>sourceSize</key>
                <string>{26,201}</string>
            </dict>
            <key>equipSite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,862},{122,126}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{122,126}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>equipSite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,862},{114,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>equipSite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,45},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{109,115}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>equipSite04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{83,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>equipSite05.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,862},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,138}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>equipSite06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,350},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>icon_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,263},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>icon_clothes_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,273},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_gf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,4},{293,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,35}}</string>
                <key>sourceSize</key>
                <string>{293,35}</string>
            </dict>
            <key>icon_kuang_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,207},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,160},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,159},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,79},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,45},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,93},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_long_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,285},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>icon_peeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,404},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>icon_peeping_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,245},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,337},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>icon_ring_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,193},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,321},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>icon_shoes_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,171},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_trousers.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,274},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>icon_trousers_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,153},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,79},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>icon_weapons_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,79},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_100.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7ee2bf6b048c35769d2a960ff073ca2:1/1$</string>
            <key>textureFileName</key>
            <string>Common_100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
