<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107300.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1478},{362,362}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{362,362}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107301.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,4},{450,344}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,90},{450,344}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107302.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1106},{380,366}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,84},{380,366}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107303.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{450,352}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,86},{450,352}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1478},{366,364}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,83},{366,364}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107305.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,354},{442,336}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,87},{442,336}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107306.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1048},{344,404}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,53},{344,404}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107307.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,696},{346,406}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{346,406}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107308.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,362},{382,436}}</string>
                <key>offset</key>
                <string>{39,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{382,436}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>ico107309.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,750},{350,404}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{350,404}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_203.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_203.pvr.ccz</string>
        </dict>
    </dict>
</plist>
