<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,723},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,543},{305,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,48}}</string>
                <key>sourceSize</key>
                <string>{305,48}</string>
            </dict>
            <key>01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,935},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,641},{111,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{111,89}}</string>
                <key>sourceSize</key>
                <string>{121,95}</string>
            </dict>
            <key>01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,228},{183,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,15}}</string>
                <key>sourceSize</key>
                <string>{183,15}</string>
            </dict>
            <key>01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,549},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,813},{23,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,156}}</string>
                <key>sourceSize</key>
                <string>{27,156}</string>
            </dict>
            <key>01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,310},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,189},{533,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,21}}</string>
                <key>sourceSize</key>
                <string>{533,21}</string>
            </dict>
            <key>01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,216},{515,6}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{515,6}}</string>
                <key>sourceSize</key>
                <string>{519,6}</string>
            </dict>
            <key>01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,189},{644,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,5}}</string>
                <key>sourceSize</key>
                <string>{644,5}</string>
            </dict>
            <key>01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,228},{208,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,309}}</string>
                <key>sourceSize</key>
                <string>{208,309}</string>
            </dict>
            <key>01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,240},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,568},{316,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,254}}</string>
                <key>sourceSize</key>
                <string>{316,254}</string>
            </dict>
            <key>01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,935},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,3},{556,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,180}}</string>
                <key>sourceSize</key>
                <string>{556,180}</string>
            </dict>
            <key>01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,616},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,19}}</string>
                <key>sourceSize</key>
                <string>{217,19}</string>
            </dict>
            <key>01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,592},{262,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,18}}</string>
                <key>sourceSize</key>
                <string>{262,18}</string>
            </dict>
            <key>01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,813},{25,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,173}}</string>
                <key>sourceSize</key>
                <string>{25,173}</string>
            </dict>
            <key>01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,543},{264,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,52}}</string>
                <key>sourceSize</key>
                <string>{264,52}</string>
            </dict>
            <key>01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,807},{32,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,103}}</string>
                <key>sourceSize</key>
                <string>{32,103}</string>
            </dict>
            <key>01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,3},{31,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,136},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,538},{250,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,48}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,397},{4,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,27}}</string>
                <key>sourceSize</key>
                <string>{4,27}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,828},{306,142}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{306,142}}</string>
                <key>sourceSize</key>
                <string>{310,150}</string>
            </dict>
            <key>bottom_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,417},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>daily_quest_shape.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,975},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>ico1070001.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,807},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1070002.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,725},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1070003.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,643},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1070021.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,889},{76,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1070022.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,807},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1070023.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,725},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071001.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,643},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071002.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,561},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,921},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071031.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,479},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071032.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,397},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1071033.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,891},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1072001.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,315},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1072002.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,233},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1072021.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,151},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1072022.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,809},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1072023.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,727},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,854},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,809},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073003.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,853},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073011.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,889},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073012.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,807},{76,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico1073013.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,641},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>lef_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,561},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,228},{304,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{304,142}}</string>
                <key>sourceSize</key>
                <string>{308,150}</string>
            </dict>
            <key>left_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,889},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,889},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,891},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,543},{304,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,102}}</string>
                <key>sourceSize</key>
                <string>{310,102}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,228},{304,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{304,142}}</string>
                <key>sourceSize</key>
                <string>{308,150}</string>
            </dict>
            <key>right_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,194},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>right_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,921},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>right_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,503},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>soldier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,936},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>soldier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,3},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>soldier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,736},{127,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,65}}</string>
                <key>sourceSize</key>
                <string>{127,65}</string>
            </dict>
            <key>soldier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,3},{142,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{142,65}</string>
            </dict>
            <key>soldier_jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,854},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>soldier_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{316,559}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{316,559}}</string>
                <key>sourceSize</key>
                <string>{320,563}</string>
            </dict>
            <key>soldier_wenzikuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,976},{448,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,39}}</string>
                <key>sourceSize</key>
                <string>{448,39}</string>
            </dict>
            <key>soldier_wenzikuangshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,543},{442,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,12}}</string>
                <key>sourceSize</key>
                <string>{442,12}</string>
            </dict>
            <key>top_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,641},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_502.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
