<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KingDeclaration_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1932},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1932},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,964},{82,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{82,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,4},{115,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,121}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>KingDeclaration_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,964},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>g007_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,511},{400,447}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,88},{400,447}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g008_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,4},{394,501}}</string>
                <key>offset</key>
                <string>{52,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,34},{394,501}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g012_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,449},{372,403}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,132},{372,403}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g015_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{424,527}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{424,527}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g024_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1497},{374,429}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,106},{374,429}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g026_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,964},{362,423}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,112},{362,423}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g032_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,4},{350,439}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,96},{350,439}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g038_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1549},{392,489}}</string>
                <key>offset</key>
                <string>{54,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,46},{392,489}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g041_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,537},{500,501}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{500,501}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g044_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1044},{356,499}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,36},{356,499}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g045_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1549},{318,495}}</string>
                <key>offset</key>
                <string>{42,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,40},{318,495}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
            <key>g046_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1044},{428,447}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,88},{428,447}}</string>
                <key>sourceSize</key>
                <string>{500,535}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_307.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d31ae7802c2c8258cec2f38d7e4a2f74:1/1$</string>
            <key>textureFileName</key>
            <string>Common_307.pvr.ccz</string>
        </dict>
    </dict>
</plist>
