<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,565},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,250},{305,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,48}}</string>
                <key>sourceSize</key>
                <string>{305,48}</string>
            </dict>
            <key>01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,985},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,565},{111,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{111,89}}</string>
                <key>sourceSize</key>
                <string>{121,95}</string>
            </dict>
            <key>01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,61},{183,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,15}}</string>
                <key>sourceSize</key>
                <string>{183,15}</string>
            </dict>
            <key>01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,984},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,985},{23,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,156}}</string>
                <key>sourceSize</key>
                <string>{27,156}</string>
            </dict>
            <key>01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,560},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,984},{533,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,21}}</string>
                <key>sourceSize</key>
                <string>{533,21}</string>
            </dict>
            <key>01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1015},{515,6}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{515,6}}</string>
                <key>sourceSize</key>
                <string>{519,6}</string>
            </dict>
            <key>01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,3},{644,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,5}}</string>
                <key>sourceSize</key>
                <string>{644,5}</string>
            </dict>
            <key>01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,651},{208,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,309}}</string>
                <key>sourceSize</key>
                <string>{208,309}</string>
            </dict>
            <key>01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,560},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,663},{316,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,254}}</string>
                <key>sourceSize</key>
                <string>{316,254}</string>
            </dict>
            <key>01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,990},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,3},{556,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,180}}</string>
                <key>sourceSize</key>
                <string>{556,180}</string>
            </dict>
            <key>01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,984},{217,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,19}}</string>
                <key>sourceSize</key>
                <string>{217,19}</string>
            </dict>
            <key>01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,61},{262,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,18}}</string>
                <key>sourceSize</key>
                <string>{262,18}</string>
            </dict>
            <key>01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,985},{25,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,173}}</string>
                <key>sourceSize</key>
                <string>{25,173}</string>
            </dict>
            <key>01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,3},{264,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,52}}</string>
                <key>sourceSize</key>
                <string>{264,52}</string>
            </dict>
            <key>01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,985},{32,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,103}}</string>
                <key>sourceSize</key>
                <string>{32,103}</string>
            </dict>
            <key>01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,990},{31,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,3},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,85},{250,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,48}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,985},{4,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,27}}</string>
                <key>sourceSize</key>
                <string>{4,27}</string>
            </dict>
            <key>Items_tips3_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1018},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,250},{306,142}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{306,142}}</string>
                <key>sourceSize</key>
                <string>{310,150}</string>
            </dict>
            <key>bottom_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,562},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>daily_quest_shape.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,3},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>lef_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,199},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,633},{304,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{304,142}}</string>
                <key>sourceSize</key>
                <string>{308,150}</string>
            </dict>
            <key>left_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,153},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,985},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,985},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,139},{304,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,102}}</string>
                <key>sourceSize</key>
                <string>{310,102}</string>
            </dict>
            <key>nb_alliance_jijie_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,654}}</string>
                <key>sourceSize</key>
                <string>{640,654}</string>
            </dict>
            <key>nb_alliance_jijie_item_name_bg1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,663},{321,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,34}}</string>
                <key>sourceSize</key>
                <string>{321,34}</string>
            </dict>
            <key>nb_alliance_jijie_zhuangshi1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,985},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,250},{304,142}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{304,142}}</string>
                <key>sourceSize</key>
                <string>{308,150}</string>
            </dict>
            <key>right_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,107},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>right_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,985},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>right_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,61},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>soldier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,985},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>soldier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,985},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>soldier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,3},{127,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,65}}</string>
                <key>sourceSize</key>
                <string>{127,65}</string>
            </dict>
            <key>soldier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,562},{142,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{142,65}</string>
            </dict>
            <key>soldier_jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,985},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>soldier_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,663},{316,559}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{316,559}}</string>
                <key>sourceSize</key>
                <string>{320,563}</string>
            </dict>
            <key>soldier_wenzikuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,139},{448,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,39}}</string>
                <key>sourceSize</key>
                <string>{448,39}</string>
            </dict>
            <key>soldier_wenzikuangshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,966},{442,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,12}}</string>
                <key>sourceSize</key>
                <string>{442,12}</string>
            </dict>
            <key>top_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,565},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_502.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
