<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz_gjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,274},{39,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{39,38}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>bz_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{39,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,38}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>bz_qb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{35,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{35,36}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>cz_bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,84},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>nb_typeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,125},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>qz_xx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,44},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>qz_xx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>qz_xx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{263,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,3}}</string>
                <key>sourceSize</key>
                <string>{263,3}</string>
            </dict>
            <key>qz_xx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,4},{264,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,3}}</string>
                <key>sourceSize</key>
                <string>{264,3}</string>
            </dict>
            <key>qz_xx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,4},{257,3}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,3}}</string>
                <key>sourceSize</key>
                <string>{263,3}</string>
            </dict>
            <key>qz_xx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,4},{264,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,3}}</string>
                <key>sourceSize</key>
                <string>{264,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_201.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_201.pvr.ccz</string>
        </dict>
    </dict>
</plist>
