<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KingDeclaration_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,837},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,940},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,65},{82,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{82,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>KingDeclaration_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,819},{115,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,121}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>KingDeclaration_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{503,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{503,179}}</string>
                <key>sourceSize</key>
                <string>{503,183}</string>
            </dict>
            <key>KingDeclaration_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,4},{311,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,55}}</string>
                <key>sourceSize</key>
                <string>{311,55}</string>
            </dict>
            <key>KingDeclaration_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,837},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>KingDeclaration_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,837},{148,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>KingDeclaration_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,940},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>g007_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,617},{196,236}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{196,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g008_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,189},{214,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{214,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g012_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,189},{244,242}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{244,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g015_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,437},{214,236}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{214,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g024_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,557},{206,234}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{206,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g026_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,657},{174,228}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{174,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g032_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,4},{182,230}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{182,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g038_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,409},{202,250}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{202,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g041_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,240},{244,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g044_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,490},{220,234}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{220,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g045_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,65},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g046_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,321},{244,230}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{244,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_307.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3e8f93a8ccfe8881b6804b0364916a:1/1$</string>
            <key>textureFileName</key>
            <string>Common_307.pvr.ccz</string>
        </dict>
    </dict>
</plist>
