<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>frame_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,4},{298,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{298,84}}</string>
                <key>sourceSize</key>
                <string>{308,94}</string>
            </dict>
            <key>frame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,4},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>monthcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{611,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,160}}</string>
                <key>sourceSize</key>
                <string>{611,160}</string>
            </dict>
            <key>monthcard_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,302},{637,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,454}}</string>
                <key>sourceSize</key>
                <string>{637,454}</string>
            </dict>
            <key>orange_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,762},{400,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,80}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_500.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_500.pvr.ccz</string>
        </dict>
    </dict>
</plist>
