<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mall_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1853},{369,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,185}}</string>
                <key>sourceSize</key>
                <string>{369,185}</string>
            </dict>
            <key>Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,902},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Recharge_Hot_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,366},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>Recharge_Hot_BG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1073},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Recharge_Hot_BG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1073},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Recharge_Sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,804},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>Recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1101},{245,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,340}}</string>
                <key>sourceSize</key>
                <string>{245,340}</string>
            </dict>
            <key>Recharge_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1101},{219,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,290}}</string>
                <key>sourceSize</key>
                <string>{219,290}</string>
            </dict>
            <key>Recharge_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,971},{104,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,182}}</string>
                <key>sourceSize</key>
                <string>{104,182}</string>
            </dict>
            <key>Recharge_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1417},{207,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,48}}</string>
                <key>sourceSize</key>
                <string>{207,48}</string>
            </dict>
            <key>Recharge_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,650},{207,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,13}}</string>
                <key>sourceSize</key>
                <string>{207,13}</string>
            </dict>
            <key>Recharge_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2003},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>Recharge_cheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1148},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Recharge_hongdai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2003},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>Recharge_hongdai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1979},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>Recharge_hongdai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2013},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>Recharge_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1302},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>Recharge_jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1081},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Recharge_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1998},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>Recharge_jiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2003},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>Recharge_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1281},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>Recharge_month_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,4},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>Recharge_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1656},{142,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,173}}</string>
                <key>sourceSize</key>
                <string>{142,173}</string>
            </dict>
            <key>Recharge_zhuangshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1183},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>Recharge_zhuangshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1878},{119,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,328}}</string>
                <key>sourceSize</key>
                <string>{119,328}</string>
            </dict>
            <key>Recharge_zhuangshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,478},{40,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,166}}</string>
                <key>sourceSize</key>
                <string>{40,166}</string>
            </dict>
            <key>Recharge_zhuangshi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,863},{69,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,548}}</string>
                <key>sourceSize</key>
                <string>{69,548}</string>
            </dict>
            <key>Recharge_zhuangshi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1410},{214,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,240}}</string>
                <key>sourceSize</key>
                <string>{214,240}</string>
            </dict>
            <key>cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1671},{172,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,81}}</string>
                <key>sourceSize</key>
                <string>{172,81}</string>
            </dict>
            <key>cell_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1656},{68,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,152}}</string>
                <key>sourceSize</key>
                <string>{68,152}</string>
            </dict>
            <key>cell_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2003},{22,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,152}}</string>
                <key>sourceSize</key>
                <string>{22,152}</string>
            </dict>
            <key>city_defBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,4},{640,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,325}}</string>
                <key>sourceSize</key>
                <string>{640,325}</string>
            </dict>
            <key>cq_rs.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1179},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>cq_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1081},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1998},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>exchangeBtnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1300},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>gift0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>gift005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1352},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>guanggaok-ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1998},{92,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,11}}</string>
                <key>sourceSize</key>
                <string>{92,11}</string>
            </dict>
            <key>guanggaok.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1179},{115,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,78}}</string>
                <key>sourceSize</key>
                <string>{115,78}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1352},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>icon_Gold_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,952},{107,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,117}}</string>
                <key>sourceSize</key>
                <string>{107,117}</string>
            </dict>
            <key>jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2015},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>mycard.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,971},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>nb_qieye_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1998},{64,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,9}}</string>
                <key>sourceSize</key>
                <string>{64,9}</string>
            </dict>
            <key>pay_di10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1417},{380,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,455}}</string>
                <key>sourceSize</key>
                <string>{380,455}</string>
            </dict>
            <key>pay_di11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,804},{133,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,161}}</string>
                <key>sourceSize</key>
                <string>{133,161}</string>
            </dict>
            <key>pay_di12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,804},{133,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,161}}</string>
                <key>sourceSize</key>
                <string>{133,161}</string>
            </dict>
            <key>pay_di13.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1417},{248,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,48}}</string>
                <key>sourceSize</key>
                <string>{248,48}</string>
            </dict>
            <key>pay_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1417},{305,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,430}}</string>
                <key>sourceSize</key>
                <string>{305,430}</string>
            </dict>
            <key>pay_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1849},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,43}}</string>
                <key>sourceSize</key>
                <string>{124,43}</string>
            </dict>
            <key>pay_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,983},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>pay_di5.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,728},{123,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,56}}</string>
                <key>sourceSize</key>
                <string>{123,56}</string>
            </dict>
            <key>pay_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2015},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>pay_di7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,857},{262,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,4}}</string>
                <key>sourceSize</key>
                <string>{262,4}</string>
            </dict>
            <key>pay_di8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1125},{261,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,4}}</string>
                <key>sourceSize</key>
                <string>{261,4}</string>
            </dict>
            <key>pay_di9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2015},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>pay_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1215},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>pay_sale1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1276},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>pay_sale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,804},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>pay_sale3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,804},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1878},{232,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,114}}</string>
                <key>sourceSize</key>
                <string>{232,114}</string>
            </dict>
            <key>wangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,650},{445,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,348}}</string>
                <key>sourceSize</key>
                <string>{445,348}</string>
            </dict>
            <key>xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{468,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,647}}</string>
                <key>sourceSize</key>
                <string>{468,647}</string>
            </dict>
            <key>yerenyingdi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,478},{320,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,600}}</string>
                <key>sourceSize</key>
                <string>{320,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_8.pvr.ccz</string>
            <key>size</key>
            <string>{1048,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8ed60958d68dba5368aa455e0911b8:1/1$</string>
            <key>textureFileName</key>
            <string>Common_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
