<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alliance-anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,162},{300,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,62}}</string>
                <key>sourceSize</key>
                <string>{300,62}</string>
            </dict>
            <key>Alliance-anniudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,155},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>Alliance-biaotizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,4},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>Alliance-biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,506},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>Alliance-qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,4},{124,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,338}}</string>
                <key>sourceSize</key>
                <string>{124,338}</string>
            </dict>
            <key>Alliance-zhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,557},{45,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,371}}</string>
                <key>sourceSize</key>
                <string>{47,371}</string>
            </dict>
            <key>UI-lianmenglingdizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,49},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>alliance_currentnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,4},{87,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>alliance_totalforce.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,929},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>anniu1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,162},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>anniu2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,40},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,49}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>city_gain_bar_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,220},{291,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,22}}</string>
                <key>sourceSize</key>
                <string>{291,22}</string>
            </dict>
            <key>city_gain_bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,34},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_bar_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,4},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,4},{315,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{315,152}}</string>
                <key>sourceSize</key>
                <string>{317,158}</string>
            </dict>
            <key>city_gain_txtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,506},{196,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,32}}</string>
                <key>sourceSize</key>
                <string>{196,32}</string>
            </dict>
            <key>city_gain_txtbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,517},{329,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,32}}</string>
                <key>sourceSize</key>
                <string>{329,32}</string>
            </dict>
            <key>def_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,929},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>detail_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,4},{545,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,85}}</string>
                <key>sourceSize</key>
                <string>{545,85}</string>
            </dict>
            <key>gather_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,929},{92,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,643},{92,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{92,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>lianmeng_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,4},{544,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,31}}</string>
                <key>sourceSize</key>
                <string>{544,31}</string>
            </dict>
            <key>lianmeng_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,4},{539,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,33}}</string>
                <key>sourceSize</key>
                <string>{539,33}</string>
            </dict>
            <key>lianmeng_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{16,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,547}}</string>
                <key>sourceSize</key>
                <string>{16,547}</string>
            </dict>
            <key>lianmeng_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,4},{508,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,33}}</string>
                <key>sourceSize</key>
                <string>{508,33}</string>
            </dict>
            <key>lianmeng_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,4},{535,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,26}}</string>
                <key>sourceSize</key>
                <string>{535,26}</string>
            </dict>
            <key>lianmeng_di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,348},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
            <key>lianmeng_di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,542},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>lianmeng_di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,468},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>lianmeng_di_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,486},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>nb_alliance_territory_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,555},{299,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,368}}</string>
                <key>sourceSize</key>
                <string>{299,368}</string>
            </dict>
            <key>nb_alliance_territory_lockbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,100},{267,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,49}}</string>
                <key>sourceSize</key>
                <string>{267,49}</string>
            </dict>
            <key>nb_alliance_territory_name_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,162},{208,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,37}}</string>
                <key>sourceSize</key>
                <string>{208,37}</string>
            </dict>
            <key>nb_alliance_zuobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,220},{289,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,60}}</string>
                <key>sourceSize</key>
                <string>{289,60}</string>
            </dict>
            <key>resource_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,506},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>storage_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,934},{94,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>territory_bg_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,162},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>territory_bg_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,730},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>territory_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,518},{16,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,120}}</string>
                <key>sourceSize</key>
                <string>{16,120}</string>
            </dict>
            <key>territory_building_lv0.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,344},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_building_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,890},{134,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_coord_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,545},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>territory_renderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,4},{39,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,120}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>territory_resource_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,730},{136,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,872},{134,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{134,94}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,872},{136,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,730},{136,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{136,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,890},{68,130}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{68,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_warehouse0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,890},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{130,82}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>warehouse_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,220},{297,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,280}}</string>
                <key>sourceSize</key>
                <string>{297,280}</string>
            </dict>
            <key>zhezhao_yaoyiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,730},{300,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,154}}</string>
                <key>sourceSize</key>
                <string>{300,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_504.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_504.pvr.ccz</string>
        </dict>
    </dict>
</plist>
