<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mall_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,644},{369,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,185}}</string>
                <key>sourceSize</key>
                <string>{369,185}</string>
            </dict>
            <key>Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,4},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Recharge_Hot_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,4},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>Recharge_Hot_BG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Recharge_Hot_BG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,127},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Recharge_Sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,366},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>Recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,4},{245,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,340}}</string>
                <key>sourceSize</key>
                <string>{245,340}</string>
            </dict>
            <key>Recharge_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,255},{219,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,290}}</string>
                <key>sourceSize</key>
                <string>{219,290}</string>
            </dict>
            <key>Recharge_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,645},{104,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,182}}</string>
                <key>sourceSize</key>
                <string>{104,182}</string>
            </dict>
            <key>Recharge_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,590},{207,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,48}}</string>
                <key>sourceSize</key>
                <string>{207,48}</string>
            </dict>
            <key>Recharge_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,835},{207,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,13}}</string>
                <key>sourceSize</key>
                <string>{207,13}</string>
            </dict>
            <key>Recharge_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,823},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>Recharge_cheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,207},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Recharge_hongdai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,398},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>Recharge_hongdai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,207},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>Recharge_hongdai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,572},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>Recharge_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,212},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>Recharge_jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,286},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Recharge_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,192},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>Recharge_jiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,398},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>Recharge_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,106},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>Recharge_month_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,582},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>Recharge_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,644},{142,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,173}}</string>
                <key>sourceSize</key>
                <string>{142,173}</string>
            </dict>
            <key>Recharge_zhuangshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,267},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>Recharge_zhuangshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,465},{119,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,328}}</string>
                <key>sourceSize</key>
                <string>{119,328}</string>
            </dict>
            <key>Recharge_zhuangshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,854},{40,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,166}}</string>
                <key>sourceSize</key>
                <string>{40,166}</string>
            </dict>
            <key>Recharge_zhuangshi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,465},{69,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,548}}</string>
                <key>sourceSize</key>
                <string>{69,548}</string>
            </dict>
            <key>Recharge_zhuangshi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,551},{214,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,240}}</string>
                <key>sourceSize</key>
                <string>{214,240}</string>
            </dict>
            <key>cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,366},{172,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,81}}</string>
                <key>sourceSize</key>
                <string>{172,81}</string>
            </dict>
            <key>cell_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,366},{68,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,152}}</string>
                <key>sourceSize</key>
                <string>{68,152}</string>
            </dict>
            <key>cell_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,835},{22,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,152}}</string>
                <key>sourceSize</key>
                <string>{22,152}</string>
            </dict>
            <key>city_defBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,325}}</string>
                <key>sourceSize</key>
                <string>{640,325}</string>
            </dict>
            <key>cq_rs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>cq_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,110},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>cz_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,564},{9,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,209}}</string>
                <key>sourceSize</key>
                <string>{9,209}</string>
            </dict>
            <key>cz_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,874},{674,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,10}}</string>
                <key>sourceSize</key>
                <string>{674,10}</string>
            </dict>
            <key>cz_bgq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,4},{286,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,130}}</string>
                <key>sourceSize</key>
                <string>{286,130}</string>
            </dict>
            <key>cz_bgq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,4},{286,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,130}}</string>
                <key>sourceSize</key>
                <string>{286,130}</string>
            </dict>
            <key>cz_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,296},{58,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,145}}</string>
                <key>sourceSize</key>
                <string>{58,145}</string>
            </dict>
            <key>cz_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,540},{18,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,143}}</string>
                <key>sourceSize</key>
                <string>{18,143}</string>
            </dict>
            <key>cz_bj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,863},{22,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,143}}</string>
                <key>sourceSize</key>
                <string>{22,143}</string>
            </dict>
            <key>cz_bj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,366},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>cz_bj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,440},{116,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,143}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>cz_bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,540},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>cz_bzbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,4},{94,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>cz_bzbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,797},{94,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>cz_bzbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,755},{94,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>cz_bzbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,255},{94,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>cz_dt.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,650},{463,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,218}}</string>
                <key>sourceSize</key>
                <string>{463,218}</string>
            </dict>
            <key>cz_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,233},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>cz_kj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,4},{136,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,275}}</string>
                <key>sourceSize</key>
                <string>{136,275}</string>
            </dict>
            <key>cz_kj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,540},{173,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,36}}</string>
                <key>sourceSize</key>
                <string>{173,36}</string>
            </dict>
            <key>cz_kj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,835},{173,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>cz_long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,644},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>cz_wbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,854},{177,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,40}}</string>
                <key>sourceSize</key>
                <string>{177,40}</string>
            </dict>
            <key>cz_xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,621},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>cz_xk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,600},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,192},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>exchangeBtnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,291},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>gift0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gift005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>guanggaok-ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,540},{92,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,11}}</string>
                <key>sourceSize</key>
                <string>{92,11}</string>
            </dict>
            <key>guanggaok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,755},{115,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,78}}</string>
                <key>sourceSize</key>
                <string>{115,78}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,233},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>icon_Gold_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,285},{107,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,117}}</string>
                <key>sourceSize</key>
                <string>{107,117}</string>
            </dict>
            <key>jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,823},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>mycard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,464},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>nb_qieye_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,557},{64,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,9}}</string>
                <key>sourceSize</key>
                <string>{64,9}</string>
            </dict>
            <key>pay_di10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,4},{380,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,455}}</string>
                <key>sourceSize</key>
                <string>{380,455}</string>
            </dict>
            <key>pay_di13.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,590},{248,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,48}}</string>
                <key>sourceSize</key>
                <string>{248,48}</string>
            </dict>
            <key>pay_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,572},{305,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,430}}</string>
                <key>sourceSize</key>
                <string>{305,430}</string>
            </dict>
            <key>pay_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,296},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,43}}</string>
                <key>sourceSize</key>
                <string>{124,43}</string>
            </dict>
            <key>pay_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,291},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>pay_di7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,890},{262,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,4}}</string>
                <key>sourceSize</key>
                <string>{262,4}</string>
            </dict>
            <key>pay_di8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,890},{261,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,4}}</string>
                <key>sourceSize</key>
                <string>{261,4}</string>
            </dict>
            <key>pay_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,797},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>pay_sale1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,106},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>pay_sale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,366},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>pay_sale3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,366},{142,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,91}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_8.pvr.ccz</string>
            <key>size</key>
            <string>{2030,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
