<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,650},{248,169}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{248,169}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>abox_citybuild_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,652},{641,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,245}}</string>
                <key>sourceSize</key>
                <string>{641,245}</string>
            </dict>
            <key>abox_newuser_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,4},{640,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,245}}</string>
                <key>sourceSize</key>
                <string>{640,245}</string>
            </dict>
            <key>activitybox_newuser_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1299},{584,481}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,481}}</string>
                <key>sourceSize</key>
                <string>{592,481}</string>
            </dict>
            <key>chuzheng_frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{642,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,201}}</string>
                <key>sourceSize</key>
                <string>{642,201}</string>
            </dict>
            <key>d_icon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,488},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,367},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,246},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,125},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,4},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1764},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1643},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1522},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1401},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1280},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1159},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1036},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>nb_cmm_gohome.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,904},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,126}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>nb_cmm_goworld.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1889},{122,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,135}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>nb_main_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,650},{640,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,154}}</string>
                <key>sourceSize</key>
                <string>{640,154}</string>
            </dict>
            <key>nb_main_quest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1889},{465,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,52}}</string>
                <key>sourceSize</key>
                <string>{465,52}</string>
            </dict>
            <key>nb_skill_right_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1947},{50,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,154}}</string>
                <key>sourceSize</key>
                <string>{50,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_3.pvr.ccz</string>
            <key>size</key>
            <string>{610,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:962546e07dc28e4583c83e6937196017:1/1$</string>
            <key>textureFileName</key>
            <string>Common_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
