<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest_Area_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{152,171}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,171}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Attack_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,445},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>quest_Barrack_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,688},{154,145}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{154,145}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_BigCastle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,175},{150,169}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{150,169}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Blacksmith_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,142},{136,102}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{136,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Build_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,280},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>quest_Castle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{140,163}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{140,163}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Chariot Plant_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,346},{150,167}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{150,167}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Collect_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,370},{82,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>quest_College_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,519},{152,167}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{152,167}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Defense_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,214},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>quest_Depot_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,688},{152,145}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{152,145}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Drill Grounds_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,348},{152,169}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,169}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Embassy_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,589},{116,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{116,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Farm_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,844},{152,147}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{152,147}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Food_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,720},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>quest_Fortress_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,669},{152,133}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{152,133}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Hall of War_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,126},{130,94}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{130,94}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Hospital_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,842},{152,137}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{152,137}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Iorn_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,691},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>quest_Iron Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,515},{152,143}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{152,143}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Lord_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{152,168}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{152,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>quest_Lord_icon1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,468},{102,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,55}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>quest_Market_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,222},{126,100}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{126,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Merchante.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,554},{118,102}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{118,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Military Tent_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{152,161}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{152,161}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Mithril Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{146,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Mithril_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,451},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>quest_Monster0_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,324},{124,124}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{124,124}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Monster1_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{152,169}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,169}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Monster2_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{152,169}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,169}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Monster3_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{152,169}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,169}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Output_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,625},{107,93}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{107,93}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_Range_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,167},{152,163}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{152,163}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Reclaim_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,445},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>quest_Research_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,389},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>quest_Ruins_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,307},{136,124}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{136,124}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Sawmill_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{152,163}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{152,163}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Soldier_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,658},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>quest_Stable_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{152,167}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{152,167}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Torch_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,528},{49,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{49,95}}</string>
                <key>sourceSize</key>
                <string>{49,101}</string>
            </dict>
            <key>quest_Trap_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,288},{99,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,65}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>quest_Turret_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,172},{102,167}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{102,167}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Upgrade_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,514},{57,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{57,76}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>quest_Walls_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,842},{152,139}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{152,139}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Watchtower_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{134,129}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{134,129}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Wishing well_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,171}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_Wood_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,514},{77,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{77,73}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>quest_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,138},{66,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>quest_cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,658},{110,70}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{110,70}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,450},{122,102}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{122,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_gold_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,515},{146,143}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{146,143}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>quest_merchante_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>quest_wb_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,167},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_wb_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,332},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_wb_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_101.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
