<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>503_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,347},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>503_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,347},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,101},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,89},{10,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,42}}</string>
                <key>sourceSize</key>
                <string>{10,42}</string>
            </dict>
            <key>huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,53},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,696},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{202,202}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,542},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,542},{190,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{190,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,756},{200,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,756},{196,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{196,204}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,542},{162,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{162,196}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,510},{180,206}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{180,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,710},{180,194}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{180,194}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,328},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,296},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,296},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,756},{196,208}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,296},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,114},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,149},{192,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,140}}</string>
                <key>sourceSize</key>
                <string>{192,140}</string>
            </dict>
            <key>nb_roleInfoBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{640,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,285}}</string>
                <key>sourceSize</key>
                <string>{640,285}</string>
            </dict>
            <key>nb_roleInfoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,5},{291,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,103}}</string>
                <key>sourceSize</key>
                <string>{291,103}</string>
            </dict>
            <key>nb_roleinfoItemHuaWen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,393},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>nb_roleinfoItemHuaWen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,5},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>nb_roleinfoItemTitleBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,347},{165,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,39}</string>
            </dict>
            <key>nb_roleinfoItemTitleBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,44},{11,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,39}}</string>
                <key>sourceSize</key>
                <string>{11,39}</string>
            </dict>
            <key>nb_roleinfoS9BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,20},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,5},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_503.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f28caca6dfc38e2979862d996a985c9:1/1$</string>
            <key>textureFileName</key>
            <string>Common_503.pvr.ccz</string>
        </dict>
    </dict>
</plist>
