<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mail_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1604},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>Mail_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,784},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>Mail_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,230},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>Mail_caiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_darksoil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{580,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,217}}</string>
                <key>sourceSize</key>
                <string>{580,217}</string>
            </dict>
            <key>Mail_gongcheng_Failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,976},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_gongcheng_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,842},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,100},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Mail_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,240},{600,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,236}}</string>
                <key>sourceSize</key>
                <string>{600,236}</string>
            </dict>
            <key>Mail_shuliang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,685},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Mail_yijitanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_zhaying_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>Mail_zhencha_succeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{580,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,218}}</string>
                <key>sourceSize</key>
                <string>{580,218}</string>
            </dict>
            <key>The-fountain_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,687},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,590},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1424},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>The-fountain_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1511},{91,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,76}}</string>
                <key>sourceSize</key>
                <string>{91,76}</string>
            </dict>
            <key>The-fountain_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,493},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>The-fountain_tupian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,258}}</string>
                <key>sourceSize</key>
                <string>{648,258}</string>
            </dict>
            <key>VIP_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,389},{117,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{117,102}</string>
            </dict>
            <key>VIP_fanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,252},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>VIP_fanye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,8},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>VIP_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{306,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,4}}</string>
                <key>sourceSize</key>
                <string>{306,4}</string>
            </dict>
            <key>VIP_fenge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,43},{4,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,129}}</string>
                <key>sourceSize</key>
                <string>{4,129}</string>
            </dict>
            <key>VIP_fenge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,43},{3,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,24}}</string>
                <key>sourceSize</key>
                <string>{3,24}</string>
            </dict>
            <key>VIP_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,571},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>VIP_jingdutiao_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,25},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>VIP_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,894},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>VIP_lvjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,845},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>VIP_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,784},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>VipActive_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{523,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,175}}</string>
                <key>sourceSize</key>
                <string>{523,175}</string>
            </dict>
            <key>VipActive_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,80},{245,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,121}}</string>
                <key>sourceSize</key>
                <string>{245,121}</string>
            </dict>
            <key>VipActive_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,203},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>VipActive_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,262},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>VipActive_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,529},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>mail_pic_flag_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1717},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1909},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,414},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,359},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,304},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>mail_pic_flag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_pic_flag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,822},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_separate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,8},{291,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,4}}</string>
                <key>sourceSize</key>
                <string>{291,4}</string>
            </dict>
            <key>vip_dianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,646},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>vip_diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,173},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>vip_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,14},{290,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,36}}</string>
                <key>sourceSize</key>
                <string>{290,36}</string>
            </dict>
            <key>vip_shalou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,842},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>vip_shalou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,469},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>vip_tianchng.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,52},{271,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,26}}</string>
                <key>sourceSize</key>
                <string>{271,26}</string>
            </dict>
            <key>xyc_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>xyc_wbd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,342},{129,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,45}}</string>
                <key>sourceSize</key>
                <string>{129,45}</string>
            </dict>
            <key>xyc_wbd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,295},{129,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,45}}</string>
                <key>sourceSize</key>
                <string>{129,45}</string>
            </dict>
            <key>xyc_xk.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1424},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>xyc_xk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1558},{157,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,187}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>xyc_zsjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,614},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>xyc_zsx1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,80},{198,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,15}}</string>
                <key>sourceSize</key>
                <string>{198,15}</string>
            </dict>
            <key>xyc_zsx1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,52},{198,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,15}}</string>
                <key>sourceSize</key>
                <string>{198,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
