<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_green_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>egg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,160},{116,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{116,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>egg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,78},{106,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>egglh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,4},{84,24}}</string>
                <key>offset</key>
                <string>{-52,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,101},{84,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,58},{92,50}}</string>
                <key>offset</key>
                <string>{-48,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,103},{92,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,238},{36,48}}</string>
                <key>offset</key>
                <string>{-25,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{36,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,238},{30,44}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,51},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,34},{76,18}}</string>
                <key>offset</key>
                <string>{49,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{76,18}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,58},{96,34}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,82},{96,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{96,42}}</string>
                <key>offset</key>
                <string>{47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,90},{96,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_513.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>Common_513.pvr.ccz</string>
        </dict>
    </dict>
</plist>
