<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>island_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,128},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,128},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,128},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,256},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,256},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,256},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,384},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,384},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>island_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,384},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nb_ocean.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19db1c3e02ba93bfc13eed1e6dad68a6:1/1$</string>
            <key>textureFileName</key>
            <string>nb_ocean.pvr.ccz</string>
        </dict>
    </dict>
</plist>
