<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TEXTURE_GRESS_alpha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>TEXTURE_GRESS_alpha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>surface_bolder_093.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>surface_bolder_094.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>surface_bolder_095.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>surface_bolder_096.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>surface_bolder_097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>surface_bolder_098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1024},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>surface.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0303a65e84cee344a30cb2cbdcf0f157:1/1$</string>
            <key>textureFileName</key>
            <string>surface.png</string>
        </dict>
    </dict>
</plist>
