<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_xinshouyindao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,322},{346,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,13}}</string>
                <key>sourceSize</key>
                <string>{346,13}</string>
            </dict>
            <key>UI_xinshouyindao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,778},{390,183}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{390,183}}</string>
                <key>sourceSize</key>
                <string>{392,187}</string>
            </dict>
            <key>UI_xinshouyindao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,967},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>guide_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,322},{370,419}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{370,419}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>guide_infantry.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,4},{292,438}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,438}}</string>
                <key>sourceSize</key>
                <string>{316,438}</string>
            </dict>
            <key>guide_messenger.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,451},{334,438}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,438}}</string>
                <key>sourceSize</key>
                <string>{370,438}</string>
            </dict>
            <key>guide_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{270,441}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{270,441}}</string>
                <key>sourceSize</key>
                <string>{350,453}</string>
            </dict>
            <key>nb_xsyd_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,581},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>nb_xsyd_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,778},{46,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,191}}</string>
                <key>sourceSize</key>
                <string>{46,193}</string>
            </dict>
            <key>nb_xsyd_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,448},{127,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,204}}</string>
                <key>sourceSize</key>
                <string>{129,206}</string>
            </dict>
            <key>reinforcements.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{312,431}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,431}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_100.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e8df916109133ea0a4b6a50bf460ff:1/1$</string>
            <key>textureFileName</key>
            <string>General_100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
