<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_xinshouyindao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{346,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,13}}</string>
                <key>sourceSize</key>
                <string>{346,13}</string>
            </dict>
            <key>UI_xinshouyindao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,317},{390,183}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{390,183}}</string>
                <key>sourceSize</key>
                <string>{392,187}</string>
            </dict>
            <key>UI_xinshouyindao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,4},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>guide_infantry.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,629},{292,438}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,438}}</string>
                <key>sourceSize</key>
                <string>{316,438}</string>
            </dict>
            <key>guide_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,353},{270,441}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{270,441}}</string>
                <key>sourceSize</key>
                <string>{350,453}</string>
            </dict>
            <key>nb_gm_tc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,23},{300,136}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,146}</string>
            </dict>
            <key>nb_gm_tc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,137},{301,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,146}}</string>
                <key>sourceSize</key>
                <string>{301,146}</string>
            </dict>
            <key>nb_gm_tc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,165},{300,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,146}}</string>
                <key>sourceSize</key>
                <string>{300,146}</string>
            </dict>
            <key>nb_gm_tc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,201},{295,146}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,146}}</string>
                <key>sourceSize</key>
                <string>{301,146}</string>
            </dict>
            <key>nb_xsyd_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,4},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>nb_xsyd_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,4},{46,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,191}}</string>
                <key>sourceSize</key>
                <string>{46,193}</string>
            </dict>
            <key>nb_xsyd_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,4},{127,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,204}}</string>
                <key>sourceSize</key>
                <string>{129,206}</string>
            </dict>
            <key>reinforcements.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,629},{312,431}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,431}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_100.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee89211b84692e0a1045ffba1fe2b1d9:1/1$</string>
            <key>textureFileName</key>
            <string>General_100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
