<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g008_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,4},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g015_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,510},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g024_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,4},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g026_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,4},{425,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,444}}</string>
                <key>sourceSize</key>
                <string>{425,444}</string>
            </dict>
            <key>nb_flagBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,650},{304,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,331}}</string>
                <key>sourceSize</key>
                <string>{304,331}</string>
            </dict>
            <key>nb_infoGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,532}}</string>
                <key>sourceSize</key>
                <string>{640,532}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff6104a82f82fac3d690f2aa45fb8e2:1/1$</string>
            <key>textureFileName</key>
            <string>General_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
