<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Surface_throne_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,4},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Surface_throne_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,138},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,272},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,406},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,540},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>decor_island_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,674},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,808},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,942},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_battlefield_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,942},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,942},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,942},{255,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,128}}</string>
                <key>sourceSize</key>
                <string>{255,128}</string>
            </dict>
            <key>surface_bolder_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,942},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,942},{255,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,128}}</string>
                <key>sourceSize</key>
                <string>{255,128}</string>
            </dict>
            <key>surface_bolder_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,942},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>surface_bolder_095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1076},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>z_decor_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1210},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>z_decor_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1210},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>z_decor_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1210},{164,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>z_decor_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1210},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>z_island_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1210},{413,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,212}}</string>
                <key>sourceSize</key>
                <string>{413,212}</string>
            </dict>
            <key>z_island_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1210},{350,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,184}}</string>
                <key>sourceSize</key>
                <string>{350,184}</string>
            </dict>
            <key>z_island_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1428},{412,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,214}}</string>
                <key>sourceSize</key>
                <string>{412,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nb_ocean.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>nb_ocean.pvr.ccz</string>
        </dict>
    </dict>
</plist>
