<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anima_bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,233},{42,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,150},{48,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,4},{56,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,115},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,191},{44,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,192},{42,35}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,80},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,45},{54,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_sea_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,182},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,245},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,250},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,259},{107,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,186},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,192},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,170},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,184},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,4},{116,78}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{116,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,90},{118,74}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,88},{114,98}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{114,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,323},{106,76}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{106,76}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,318},{102,70}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{102,70}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,84},{132,72}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{132,72}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{124,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,4},{116,82}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{116,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,4},{132,78}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{132,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,4},{136,74}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{136,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,162},{122,82}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{122,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,4},{128,80}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,162},{124,74}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{124,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,257},{102,78}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,334},{104,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,92},{112,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{112,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{118,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{118,86}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,330},{100,84}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{100,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,94},{108,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{108,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{118,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{118,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>water_center_high_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{154,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>World_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
