<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anima_bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,259},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,229},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,229},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,139},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,94},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,49},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,4},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,154},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_sea_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,154},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,79},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,4},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,79},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,4},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,432},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,432},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>nb_octopus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{179,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,212}}</string>
                <key>sourceSize</key>
                <string>{179,212}</string>
            </dict>
            <key>nb_octopus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,222},{184,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,204}}</string>
                <key>sourceSize</key>
                <string>{184,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879cae9dbaf611bc9be37270b364205c:1/1$</string>
            <key>textureFileName</key>
            <string>World_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
