<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anima_bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,670},{42,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,564},{48,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,478},{56,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,493},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,625},{44,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,643},{42,35}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,255},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,519},{54,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_sea_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,250},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,325},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,312},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,385},{107,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,331},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,325},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,357},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,258},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,4},{116,78}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{116,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,90},{118,74}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,88},{114,98}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{114,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,372},{106,76}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{106,76}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,583},{102,70}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{102,70}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,84},{132,72}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{132,72}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{124,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,4},{116,82}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{116,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hetong_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,522},{48,63}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,186},{50,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,554},{52,65}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,684},{40,63}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,692},{40,49}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{40,49}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,643},{42,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{42,43}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,557},{46,51}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{46,51}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,528},{48,57}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{48,57}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,493},{48,65}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,537},{46,65}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,611},{44,63}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{44,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,564},{42,61}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,61}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,611},{44,63}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{44,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,557},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,537},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,522},{48,63}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>skeleton0_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,545},{102,71}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{102,71}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,282},{108,69}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{108,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,256},{108,63}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,63}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,4},{72,59}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{72,59}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,290},{70,59}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{70,59}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,69},{70,63}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{70,63}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,355},{70,53}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{70,53}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,659},{94,55}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{94,55}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,536},{100,69}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{100,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,162},{110,69}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{110,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,206},{108,71}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,71}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,420},{104,73}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,73}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,474},{100,77}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,560},{96,77}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{96,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,454},{100,77}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{100,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,398},{104,73}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,73}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,237},{108,69}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{108,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton1_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,240},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,186},{108,66}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,312},{108,54}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{108,54}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,414},{78,58}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{78,58}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,138},{76,62}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{76,62}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,622},{94,64}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{94,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,427},{102,60}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{102,60}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,477},{104,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{104,62}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,355},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,283},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,398},{106,70}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{106,70}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,404},{104,72}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{104,72}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,456},{102,74}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{102,74}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,482},{102,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{102,72}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,184},{110,66}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{110,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,92},{114,64}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{114,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,170},{112,64}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{112,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,4},{132,78}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{132,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,4},{136,74}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{136,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,162},{122,82}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{122,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,4},{128,80}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,162},{124,74}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{124,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,499},{102,78}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,334},{104,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,94},{112,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{112,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{118,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{118,86}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,432},{100,84}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{100,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,192},{108,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{108,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{118,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{118,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>water_center_high_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{154,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:--REMOVED----------------------------</string>
            <key>textureFileName</key>
            <string>World_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
